<div class="question-text"><%= render_html(field.details[:question]) %></div>
<ul<% if response.errors.any? %> class="error"<% end %>>
  <% field.details[:choices].each do |choice| %>
  <li>
    <input type="hidden" name="responses[<%= field.id %>][responses][<%= choice[:label] %>]" value="0">
    <input type="checkbox" name="responses[<%= field.id %>][responses][<%= choice[:label] %>]" value="1"<% if !response.details[:responses].nil? && response.details[:responses][choice[:label]] == "1" %> checked<% end %>> <label><%= choice[:label] %></label>
  </li>
  <% end %>
</ul>
<% if response.errors.any? %>
  <small class="error">
    <ul>
    <% response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </small>
<% end %>
