<% provide(:title, @form_version.name) %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<div id="form-response">

  <%= form_tag do %>
  <div class="row collapse">
    <div class="large-12 columns form-field">
      <div class="field-render">
        <h1><%= @form_version.name %></h1>
      </div>
    </div>
  </div>
  <% @form_version.fields.each do |field| %>
  <div class="row collapse">
    <div class="large-6 columns last form-field">
      <div class="field-render <%= field.kind %>-field-render">
        <%= render partial: field.kind.underscore, locals: {field: field, response: @responses[field.id]} %>
      </div>
    </div>
  </div>
  <% end %>
  <input type="submit" name="submit" value="Submit" class="button primary radius">
  <% end %>

</div>
