<% provide(:title, 'Pages') %>

<% provide :css do %>
<%= stylesheet_link_tag "pages", media: "all" %>
<% end %>

<div id="page-editor">
  <div id="top-nav-bar" ng-controller="PageEditorCtrl">
    <div class="row">
      <div class="large-3 columns">
        <h4>Page Editor</h4>
      </div>
      <div class="large-5 columns">
        <form name="urlForm">
          <input type="text" name="url" ng-model="url" required ng-pattern="/^(?:\/|(?:(?:\/[~%\+\-\.\w]+)+\/?))$/" placeholder="Enter url" ng-class="{error: !urlForm.$valid}" value="<%= @page.url %>">
        </form>
      </div>
      <div class="large-4 columns button-row">
        <button id="publish-button" class="button success small radius" <% if @page.published %>disabled <% end %>ng-disabled="isDirty() || !urlForm.$valid || published" ng-click="publishPage()">Publish</button>
        <button id="save-button" class="button primary small radius" disabled ng-disabled="!(isDirty() && urlForm.$valid)" ng-click="savePage()">Save</button>
        <a target="_self" class="button secondary small radius" href="<%= admin_pages_path %>">Done</a>
      </div>
    </div>
  </div>

  <div id="content-editor" class="editable"><%= @page.content.html_safe %></div>
</div>

<% provide :js do %>
<%= javascript_include_tag "tinymce/tinymce.min.js" %>
<%= javascript_include_tag "pages" %>
<script type="text/javascript">
  angular.module('PageEditorApp').run(function($rootScope) {
    $rootScope.pageId = <%= @page.id || -1 %>;
    $rootScope.published = <%= @page.published? %>;
  });
</script>
<% end %>
