<% provide(:title, 'Pages') %>

<h1>Pages</h1>

<% if @pages.empty? %>
  <p>There are no pages yet.</p>
<% else %>
  <table id="page-list">
    <thead>
      <tr>
        <th>Url</th>
        <th>Author</th>
        <th>Last Modified</th>
        <th>Published?</th>
        <th>Previous<br>Version<br>Published?</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
      <tr>
        <td><a href="<%= admin_page_versions_path(page.page_id) %>"><%= page.version.url %></a></td>
        <td><%= page.version.user.username %></td>
        <td><%= page.version.updated_at %></td>
        <td><% if page.published %>yes<i class="fi-check"></i><% end %></td>
        <td><% if page.prev_published %>yes<i class="fi-check"></i><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <a class="button small" href="<%= admin_new_page_path %>">Create New Page</a>
</p>

