<% provide(:title, 'Page Versions') %>

<h1>Page Versions</h1>

<table id="page-list">
  <thead>
    <tr>
      <th>Url</th>
      <th>Author</th>
      <th>Last Modified</th>
      <th>Published?</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><a href="<%= admin_page_version_path(page.page_id, page.id) %>"><%= page.url %></a></td>
      <td><%= page.user.username %></td>
      <td><%= page.updated_at.to_formatted_s(:long) %></td>
      <td><% if !page.published_page.nil? %>yes<i class="fi-check"></i><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a class="button small secondary" href="<%= admin_pages_path %>">Done</a>

