<div class="question-text"><%= render_html(field.details[:question]) %></div>
<ul<% if response.errors.any? %> class="error"<% end %>>
  <% field.details[:choices].each do |choice| %>
  <li><input type="radio" name="responses[<%= field.id %>][response]" value="<%= choice[:label] %>"<% if response.details[:response] == choice[:label] %> checked<% end %>> <label><%= choice[:label] %></label></li>
  <% end %>
</ul>
<% if response.errors.any? %>
  <small class="error">
    <ul>
    <% response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </small>
<% end %>
