<%= provide(:title) %>

<h1>The Center for Innovation in Engineering and Science Education</h1>

<div class="row">
  <div class="large-6 columns">
    <div class="slideshow-wrapper">
      <ul id="featured" data-orbit>
        <li>
        <%= image_tag 'main/slide1.jpg' %>
        <div class="orbit-caption">Here is caption 1.</div>
        </li>
        <li>
        <%= image_tag 'main/slide2.jpg' %>
        <div class="orbit-caption">Here is caption 2.</div>
        </li>
        <li>
        <%= image_tag 'main/slide3.jpg' %>
        <div class="orbit-caption">Here is caption 3.</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-6 columns">
    <h2>Our Mission</h2>
    <p>
      To catalyze and support excellence in teaching and learning of science, technology, engineering, mathematics (STEM) and other core subjects through innovative, research-based instructional strategies and use of novel technologies.
    </p>
    <p>
      CIESE collaborates with K-12 and university educators, researchers, policymakers, and educational organizations to develop curriculum materials, conduct professional development programs, and research new methodologies to strengthen STEM education. 
    </p>
  </div>
</div>

<p>&nbsp;</p>
<h2>Highlighted Projects</h2>

<div class="row">
  <div class="small-6 columns">
    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "main/koala.jpg" %>
      </div>
      <div class="large-7 columns">
        <h5>Project 1</h5>
        <p class="project_description"><%= Faker::Lorem.paragraph() %></p>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "main/koala.jpg" %>
      </div>
      <div class="large-7 columns">
        <h5>Project 2</h5>
        <p class="project_description"><%= Faker::Lorem.paragraph() %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "main/koala.jpg" %>
      </div>
      <div class="large-7 columns">
        <h5>Project 3</h5>
        <p class="project_description"><%= Faker::Lorem.paragraph() %></p>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "main/koala.jpg" %>
      </div>
      <div class="large-7 columns">
        <h5>Project 4</h5>
        <p class="project_description"><%= Faker::Lorem.paragraph() %></p>
      </div>
    </div>
  </div>
</div>
