<div class="address-line"><%= field_response.details[:address_line_1] %></div>
<div class="address-line"><%= field_response.details[:address_line_2] %></div>
<div class="address-line">
  <%= field_response.details[:city] %>,
  <%= field_response.details[:state] %>
  <%= field_response.details[:zip] %>
</div>
