<% provide(:title, 'Forms') %>

<% provide :header do %>
<base href="/admin/forms/">
<% end %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<% provide :top_bar do %>
  <div class="small-2 columns">
    <h1>Form Editor</h1>
  </div>
  <div class="small-10 columns">
    <div class="button-row">
      <button id="publish-button" class="button success small radius" <% if @form_version.id.nil? || @form_version.published? %>disabled <% end %>ng-disabled="!canPublish()" ng-click="publishForm()">Publish</button>
      <button id="save-button" class="button primary small radius" disabled ng-disabled="!canSave()" ng-click="saveForm()">Save</button>
      <a target="_self" class="button secondary small radius" href="<%= admin_forms_path %>">Done</a>
    </div>
  </div>
<% end %>

<div id="form-editor" ng-controller="FormEditorCtrl" ng-show="editorReady" class="ng-hide">

  <div class="form-builder" ng-form="formBuilder">

    <div class="row">
      <div class="large-6 columns last">

        <div class="form-field" ng-class="getMode(-1)" ng-click="select(-1)">
          <div class="field-builder form-settings-builder">
            <div class="field-kind">Form Settings</div>
            <label for="form-name">Form Name</label>
            <input id="form-name" type="text" name="name" ng-model="form_version.name" required ng-class="{error: formBuilder.name.$invalid}" placeholder="Enter a name for the form">
            <label for="form-project">Project</label>
            <select id="form-project" name="project" ng-model="form_version.project" required ng-class="{error: formBuilder.project.$invalid}" ng-options="project for project in projects"></select>
            <label for="form-done_message">Done Message</label>
            <textarea id="form-done_message" name="done_message" ng-model="form_version.done_message" required ng-class="{error: formBuilder.done_message.$invalid}" placeholder="Enter a message that will be displayed after the form is submitted"></textarea>
          </div>
          <div class="field-preview">
            <h1 ng-if="form_version.name">{{ form_version.name }}</h1>
            <h1 ng-if="!form_version.name"><span class="empty">Please enter a form name</span></h1>
          </div>
        </div>

      </div>
    </div>

    <div class="row" ng-repeat="field in form_version.fields">
      <div class="large-6 columns last">

        <div class="form-field" ng-class="getMode($index)" ng-click="select($index)">
          <div class="field-builder {{ field.kind }}-field-builder" ng-form="fieldBuilder" ng-include="field.kind + '-field-builder.html'"></div>
          <div class="field-preview {{ field.kind }}-field-preview" ng-include="field.kind + '-field-preview.html'"></div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="large-6 columns last">
      <div id="add-field" ng-form="addFieldForm">
        <hr>
        <ul class="button-group radius">
          <% FormField::KINDS.each do |kind| %>
          <li><a class="button small" ng-click="addField('<%= kind %>')"><%= (kind.include?("-") ? kind : "#{kind}-field").titleize.gsub(" ", "<br>").html_safe %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Angular Templates -->

  <script type="text/ng-template" id="field-builder-controls.html">
    <span ng-if="!norequire">required: <input name="required" type="checkbox" ng-model="field.details.required"></span>
    <a ng-hide="$first" ng-click="moveUp()"><i class="fi-arrow-up"></i></a>
    <a ng-hide="$last" ng-click="moveDown()"><i class="fi-arrow-down"></i></a>
    <a ng-click="removeField()"><i class="fi-x"></i></a>
  </script>

  <% FormField::KINDS.each do |kind| %>

    <script type="text/ng-template" id="<%= kind %>-field-builder.html">
      <%= render "admin/forms/#{kind.underscore}/ng_builder" %>
    </script>

    <script type="text/ng-template" id="<%= kind %>-field-preview.html">
      <%= render "admin/forms/#{kind.underscore}/ng_preview" %>
    </script>

  <% end %>

</div>

<% provide :js do %>
<%= javascript_include_tag "form_editor" %>
<script type="text/javascript">
  angular.module('FormEditorApp').run(function($rootScope) {
    $rootScope.form_version = <%= FormVersionSerializer.new(@form_version).to_json.html_safe %>.form_version;
    $rootScope.projects = <%= Ciese::PROJECTS.keys.to_json.html_safe %>;
  });
</script>
<% end %>
