<% provide(:title, 'Forms') %>

<% provide :header do %>
<base href="/admin/forms/">
<% end %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<% provide :top_bar do %>
  <div class="small-2 columns">
    <h1>Form Editor</h1>
  </div>
  <div class="small-10 columns">
    <div class="button-row">
      <button id="publish-button" class="button success small radius" <% if @form_version.id.nil? || @form_version.published? %>disabled <% end %>ng-disabled="!canPublish()" ng-click="publishForm()">Publish</button>
      <button id="save-button" class="button primary small radius" disabled ng-disabled="!canSave()" ng-click="saveForm()">Save</button>
      <a target="_self" class="button secondary small radius" href="<%= admin_forms_path %>">Done</a>
    </div>
  </div>
<% end %>

<div id="form-editor" ng-controller="FormEditorCtrl" ng-show="editorReady" class="ng-hide">

  <div class="form-builder" ng-form="formBuilder">

    <div class="row collapse">
      <div class="large-6 columns last form-field" ng-class="getMode(-1)" ng-click="select(-1)">
        <div class="field-builder">
          <div class="field-kind">Form Settings</div>
          <label for="form-name">Form Name</label>
          <input id="form-name" type="text" name="name" ng-model="form_version.name" required ng-class="{error: formBuilder.name.$invalid}" placeholder="Enter a name for the form">
          <label for="form-project">Project</label>
          <select id="form-project" name="project" ng-model="form_version.project" required ng-class="{error: formBuilder.project.$invalid}" ng-options="project for project in projects"></select>
        </div>
        <div class="field-render">
          <h1 ng-if="form_version.name">{{ form_version.name }}</h1>
          <h1 ng-if="!form_version.name"><span class="empty">Please enter a form name</span></h1>
        </div>
      </div>
    </div>

    <div class="row collapse" ng-repeat="field in form_version.fields">
      <div class="large-6 columns last form-field" ng-class="getMode($index)" ng-click="select($index)">
        <div class="field-builder {{ field.kind }}-field-builder" ng-form="fieldBuilder" ng-include="field.kind + '-field-builder.html'"></div>
        <div class="field-render {{ field.kind }}-field-render" ng-include="field.kind + '-field-render.html'"></div>
      </div>
    </div>

  </div>

  <div id="add-field" ng-form="addFieldForm">
    <hr>
    <ul class="button-group radius even-5">
      <li><a class="button tiny" ng-click="addField('info')">Info<br>Field</a></li>
      <li><a class="button tiny" ng-click="addField('short-answer')">Short<br>Answer</a></li>
      <li><a class="button tiny" ng-click="addField('long-answer')">Long<br>Answer</a></li>
      <li><a class="button tiny" ng-click="addField('single-choice')">Single<br>Choice</a></li>
      <li><a class="button tiny" ng-click="addField('multiple-choice')">Multiple<br>Choice</a></li>
    </ul>
  </div>


  <!-- Field Builder Templates -->

  <script type="text/ng-template" id="field-builder-controls.html">
    <span ng-if="!norequire">required: <input name="required" type="checkbox" ng-model="field.details.required"></span>
    <a ng-hide="$first" ng-click="moveUp()"><i class="fi-arrow-up"></i></a>
    <a ng-hide="$last" ng-click="moveDown()"><i class="fi-arrow-down"></i></a>
    <a ng-click="removeField()"><i class="fi-x"></i></a>
  </script>

  <script type="text/ng-template" id="info-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'" ng-init="norequire = true"></div>
    <div class="field-kind">Information Field</div>
    <label>Information Text</label>
    <p>problem: {{ check() }}</p>
    <textarea name="text" required ng-class="{error: fieldBuilder.text.$invalid}" ng-model="field.details.text" placeholder="Enter information text"></textarea>
  </script>

  <script type="text/ng-template" id="short-answer-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div class="field-kind">Short Answer Field</div>
    <label>Question Text</label>
    <textarea name="question" ng-model="field.details.question" placeholder="Enter optional question text"></textarea>
    <label>Label</label>
    <input type="text" name="label" ng-model="field.details.label" placeholder="Enter optional label">
  </script>

  <script type="text/ng-template" id="long-answer-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div class="field-kind">Long Answer Field</div>
    <label>Question Text</label>
    <textarea name="question" ng-model="field.details.question" placeholder="Enter question text"></textarea>
    <label>Label</label>
    <input type="text" name="label" ng-model="field.details.label" placeholder="Enter optional label">
  </script>

  <script type="text/ng-template" id="single-choice-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div ng-controller="ChoiceFieldCtrl">
      <div class="field-kind">Single Choice Field</div>
      <label>Question Text</label>
      <textarea name="question" ng-model="field.details.question" placeholder="Enter question text"></textarea>
      <label>Choices</label>
      <div class="choice-label row collapse" ng-repeat="choice in field.details.choices">
        <div ng-form="choiceBuilder" class="small-11 columns">
          <input type="text" name="choice" ng-model="choice.label" ng-class="{error: choiceBuilder.$invalid}" required placeholder="Enter choice label">
        </div>
        <div class="small-1 columns">
          <a class="button alert radius postfix" ng-click="removeChoice()">-</a>
        </div>
      </div>
      <a class="button tiny success radius" ng-click="addChoice()">Add Choice</a>
    </div>
  </script>

  <script type="text/ng-template" id="multiple-choice-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div ng-controller="ChoiceFieldCtrl">
      <div class="field-kind">Multiple Choice Field</div>
      <label>Question Text</label>
      <textarea name="question" ng-model="field.details.question" placeholder="Enter question text"></textarea>
      <label>Choices</label>
      <div class="choice-label row collapse" ng-repeat="choice in field.details.choices">
        <div ng-form="choiceBuilder" class="small-11 columns">
          <input type="text" name="choice" ng-model="choice.label" ng-class="{error: choiceBuilder.$invalid}" required placeholder="Enter choice label">
        </div>
        <div class="small-1 columns">
          <a class="button alert radius postfix" ng-click="removeChoice()">-</a>
        </div>
      </div>
      <a class="button tiny success radius" ng-click="addChoice()">Add Choice</a>
    </div>
  </script>


  <!-- Field Render Templates -->

  <script type="text/ng-template" id="info-field-render.html">
    <div class="info-text" ng-if="field.details.text" ng-bind-html="renderHtml(field.details.text)"></div>
    <div class="info-text" ng-if="!field.details.text"><span class="empty">Please enter some information text</span></div>
  </script>

  <script type="text/ng-template" id="short-answer-field-render.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <input type="text" disabled>
  </script>

  <script type="text/ng-template" id="long-answer-field-render.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <textarea disabled></textarea>
  </script>

  <script type="text/ng-template" id="single-choice-field-render.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="radio" value="" disabled> <label>{{ choice.label }}<span class="empty" ng-if="!choice.label">Add label</span></label></li>
    </ul>
  </script>

  <script type="text/ng-template" id="multiple-choice-field-render.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="checkbox" value="" disabled> <label>{{ choice.label }}<span class="empty" ng-if="!choice.label">Add label</span></label></li>
    </ul>
  </script>

</div>

<% provide :js do %>
<%= javascript_include_tag "form_editor" %>
<script type="text/javascript">
  angular.module('FormEditorApp').run(function($rootScope) {
    $rootScope.form_version = <%= FormVersionSerializer.new(@form_version).to_json.html_safe %>.form_version;
    $rootScope.projects = <%= Ciese::PROJECTS.keys.to_json.html_safe %>;
  });
</script>
<% end %>
