<% provide(:title, 'Forms') %>

<% provide :header do %>
<base href="/admin/forms/">
<% end %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<div id="form-editor" ng-controller="FormEditorCtrl">
  <div class="row">

    <div class="large-6 columns">
      <h1>Form Editor</h1>
      <div class="form-builder">
        <form name="formPropsBuilder">
          <label for="form-name">Name</label>
          <input id="form-name" type="text" name="name" ng-model="form.name" required ng-class="{error: formPropsBuilder.name.$invalid}" placeholder="Enter a name for the form">
        </form>
        <div class="form-field" ng-repeat="field in form.fields" ng-class="getMode()" ng-click="select()">
          <div class="field-builder" ng-include="'field-builder.html'"></div>
          <div class="field-preview" ng-include="'field-preview.html'"></div>
        </div>
      </div>
      <ul class="button-group radius even-3">
        <li><a class="button small" ng-click="addField('info-field')">Information</a></li>
        <li><a class="button small" ng-click="addField('short-answer-field')">Short Answer</a></li>
        <li><a class="button small" ng-click="addField('long-answer-field')">Long Answer</a></li>
      </ul>
      <ul class="button-group radius even-3">
        <li><a class="button small" ng-click="addField('single-choice-field')">Single Choice</a></li>
        <li><a class="button small" ng-click="addField('multiple-choice-field')">Multiple Choice</a></li>
      </ul>
    </div>

    <div class="large-6 columns">
      <h1>Debug Info</h1>
      <p><pre>{{ selected | json }}</pre></p>
      <p><pre>{{ form | json }}</pre></p>
    </div>
  </div>


  <!-- Field Builder Templates -->

  <script type="text/ng-template" id="field-builder.html">
    <form name="fieldBuilder">
      <div class="{{ field.kind }}-builder" ng-include="field.kind + '-builder.html'"></div>
    </form>
  </script>

  <script type="text/ng-template" id="field-builder-controls.html">
    <span ng-if="!noRequire">required: <input type="checkbox" ng-model="field.details.required"></span>
    <a ng-hide="$first" ng-click="moveUp()"><i class="fi-arrow-up"></i></a>
    <a ng-hide="$last" ng-click="moveDown()"><i class="fi-arrow-down"></i></a>
    <a ng-click="removeField()"><i class="fi-x"></i></a>
  </script>

  <script type="text/ng-template" id="info-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'" ng-init="noRequire = true"></div>
    <div class="field-kind">Information Field</div>
    <label>Information Text</label>
    <textarea name="text" required ng-class="{error: fieldBuilder.text.$invalid}" ng-model="field.details.text" placeholder="Enter information text here"></textarea>
  </script>

  <script type="text/ng-template" id="short-answer-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div class="field-kind">Short Answer Field</div>
    <label>Label</label>
    <input type="text" name="label" ng-model="field.details.label" placeholder="Enter optional label">
    <label>Question Text</label>
    <textarea name="question" ng-model="field.details.question" placeholder="Enter optional question text"></textarea>
  </script>

  <script type="text/ng-template" id="long-answer-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div class="field-kind">Long Answer Field</div>
    <label>Label</label>
    <input type="text" name="label" ng-model="field.details.label" placeholder="Enter optional label">
    <label>Question Text</label>
    <textarea name="question" ng-model="field.details.question" placeholder="Enter question text here"></textarea>
  </script>

  <script type="text/ng-template" id="single-choice-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div ng-controller="ChoiceFieldCtrl">
      <div class="field-kind">Single Choice Field</div>
      <label>Question Text</label>
      <textarea name="question" ng-model="field.details.question" placeholder="Enter question text here"></textarea>
      <label>Choices</label>
      <div class="choice-label row collapse" ng-repeat="choice in field.details.choices">
        <div class="small-11 columns">
          <input type="text" name="choice{{$index}}" ng-model="choice.label" placeholder="Choice label">
        </div>
        <div class="small-1 columns">
          <a class="button alert radius postfix" ng-click="removeChoice()">-</a>
        </div>
      </div>
      <a class="button tiny success radius" ng-click="addChoice()">Add Choice</a>
    </div>
  </script>

  <script type="text/ng-template" id="multiple-choice-field-builder.html">
    <div class="field-builder-controls" ng-include="'field-builder-controls.html'"></div>
    <div ng-controller="ChoiceFieldCtrl">
      <div class="field-kind">Multiple Choice Field</div>
      <label>Question Text</label>
      <textarea name="question" ng-model="field.details.question" placeholder="Enter question text here"></textarea>
      <label>Choices</label>
      <div class="choice-label row collapse" ng-repeat="choice in field.details.choices">
        <div class="small-11 columns">
          <input type="text" name="choice{{$index}}" ng-model="choice.label" placeholder="Choice label">
        </div>
        <div class="small-1 columns">
          <a class="button alert radius postfix" ng-click="removeChoice()">-</a>
        </div>
      </div>
      <a class="button tiny success radius" ng-click="addChoice()">Add Choice</a>
    </div>
  </script>


  <!-- Field Preview Templates -->

  <script type="text/ng-template" id="field-preview.html">
    <div class="{{ field.kind}}-preview" ng-include="field.kind + '-preview.html'"></div>
  </script>

  <script type="text/ng-template" id="info-field-preview.html">
    <div class="info-text" ng-if="field.details.text" ng-bind-html="renderHtml(field.details.text)"></div>
    <div class="info-text" ng-if="!field.details.text"><span class="empty">–Please enter some information text–</span></div>
  </script>

  <script type="text/ng-template" id="short-answer-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <input type="text" disabled>
  </script>

  <script type="text/ng-template" id="long-answer-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <textarea disabled></textarea>
  </script>

  <script type="text/ng-template" id="single-choice-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="radio" value="" disabled> <label>{{ choice.label }}<span class="empty" ng-if="!choice.label">-Need Label-</span></label></li>
    </ul>
  </script>

  <script type="text/ng-template" id="multiple-choice-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="checkbox" value="" disabled> <label>{{ choice.label }}<span class="empty" ng-if="!choice.label">-Need Label-</span></label></li>
    </ul>
  </script>

</div>

<% provide :js do %>
<%= javascript_include_tag "form_editor" %>
<script type="text/javascript">
  angular.module('FormEditorApp').run(function($rootScope) {
    $rootScope.form = <%= @form.to_json.html_safe %>;
    $rootScope.form = {
      form_version_id: <%= @form.id.to_json %>,
      form_id: <%= @form.form_id.to_json %>,
      slug: "<%= @form.slug %>",
      name: "<%= @form.name %>",
      fields: <%= @form.fields.to_json.html_safe %>
    }
  });
</script>
<% end %>
