<% provide(:title, 'Forms') %>

<h1>Forms</h1>

<% if @forms.empty? %>
  <p>There are no forms yet.</p>
<% else %>
  <table id="form-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Last Modified</th>
        <th>Current<br>Version<br>Published?</th>
        <th>Previous<br>Version<br>Published?</th>
      </tr>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
      <tr>
        <td><a href="<%= admin_edit_form_path(form.form_id) %>"><%= form.name %></a></td>
        <td><%= form.user.username %></td>
        <td><a href="<%= admin_form_versions_path(form.form_id) %>"><%= form.date %></a></td>
        <td><% if form.published %><i class="fi-check"></i><% end %></td>
        <td><% if form.prev_published %><i class="fi-check"></i><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <a class="button small" href="<%= admin_new_form_path %>">Create New Form</a>
</p>
