<% provide(:title, 'Form Version') %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<% provide :top_bar do %>
  <div class="small-2 columns">
    <h1>Form Version</h1>
  </div>
  <div class="small-10 columns">
    <div class="row">
      <div class="large-6 columns">
        <h2 id="form-info" <% if @form_version.published? %> class="published"<% end %>ng-class="{published: form_version.published}" ng-bind-html="form_version.name + ' &nbsp; [ ' + form_version.project + ' ] <span>' + form_version.username + ' &ndash; ' + (form_version.date) + '</span>'"><%= @form_version.name %> &nbsp; [ <%= @form_version.project %> ] <span><%= @form_version.user.username %> &ndash; <%= @form_version.date %></span></h2>
      </div>
      <div class="large-6 columns">
        <div ng-form="versionForm">
          <div class="button-row">
            <button id="publish-button" class="button success small radius<%= " ng-hide" if @form_version.published? %>" ng-hide="form_version.published" ng-click="publishForm()">Publish</button>
            <button id="unpublish-button" class="button alert small radius<%= " ng-hide" if !@form_version.published? %>" ng-hide="!form_version.published" ng-click="unpublishForm()">Unpublish</button>
            <a id="prev-button" class="button small secondary radius" <% if @form_version_ids[0] == @form_version.id %>disabled<% end %> ng-disabled="!isPrevVersion()" ng-click="isPrevVersion() && getPrevVersion()">&lt;</a>
            <a id="next-button" class="button small secondary radius" <% if @form_version_ids[-1] == @form_version.id %>disabled<% end %> ng-disabled="!isNextVersion()" ng-click="isNextVersion() && getNextVersion()">&gt;</a>
            <a id="edit-button" target="_self" class = "button primary small radius" ng-href="<%= admin_edit_form_path(@form_version.form_id) %>?vid={{ form_version.id }}" href="<%= admin_edit_form_path(@form_version.form_id) %>?vid=<%= @form_version.id %>">Edit</a>
            <a target="_self" class="button secondary small radius" href="<%= admin_form_versions_path(@form_version.form_id) %>">Done</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="form-version" ng-controller="FormVersionCtrl" ng-show="versionReady" class="ng-hide">
  <div class="row collapse">
    <div class="large-6 columns last form-field">
      <div class="field-preview">
        <h1>{{ form_version.name }}</h1>
      </div>
    </div>
  </div>
  <div class="row collapse" ng-repeat="field in form_version.fields">
    <div class="large-6 columns last form-field">
      <div class="field-preview {{ field.kind}}-field-preview" ng-include="field.kind + '-field-preview.html'"></div>
    </div>
  </div>

  <!-- Angular Templates -->

  <% FormField::KINDS.each do |kind| %>

    <script type="text/ng-template" id="<%= kind %>-field-preview.html">
      <%= render "admin/forms/#{kind.underscore}/ng_preview" %>
    </script>

  <% end %>

</div>

<% provide :js do %>
<%= javascript_include_tag "form_version" %>
<script type="text/javascript">
  angular.module('FormVersionApp').run(function($rootScope) {
    $rootScope.form_version = <%= FormVersionSerializer.new(@form_version).to_json.html_safe %>.form_version;
    $rootScope.form_version_ids = <%= @form_version_ids.to_json.html_safe %>;
  });
</script>
<% end %>

