<% provide(:title, 'Form Version') %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<% provide :top_bar do %>
  <div class="small-2 columns">
    <h1>Form Version</h1>
  </div>
  <div class="small-10 columns">
    <div class="row">
      <div class="large-6 columns">
        <h2 id="form-info" <% if @form.published? %> class="published"<% end %>ng-class="{published: form.published}" ng-bind-html="form.name + ' &nbsp; [ ' + form.project + ' ] <span>' + form.username + ' &ndash; ' + (form.date) + '</span>'"><%= @form.name %> &nbsp; [ <%= @form.project %> ] <span><%= @form.user.username %> &ndash; <%= @form.date %></span></h2>
      </div>
      <div class="large-6 columns">
        <div ng-form="versionForm">
          <div class="button-row">
            <button id="publish-button" class="button success small radius<%= " ng-hide" if @form.published? %>" ng-hide="form.published" ng-click="publishForm()">Publish</button>
            <button id="unpublish-button" class="button alert small radius<%= " ng-hide" if !@form.published? %>" ng-hide="!form.published" ng-click="unpublishForm()">Unpublish</button>
            <a id="prev-button" class="button small secondary radius" <% if @form_versions[0] == @form.id %>disabled<% end %> ng-disabled="!isPrevVersion()" ng-click="isPrevVersion() && getPrevVersion()">&lt;</a>
            <a id="next-button" class="button small secondary radius" <% if @form_versions[-1] == @form.id %>disabled<% end %> ng-disabled="!isNextVersion()" ng-click="isNextVersion() && getNextVersion()">&gt;</a>
            <a id="edit-button" target="_self" class = "button primary small radius" ng-href="<%= admin_edit_form_path(@form.form_id) %>?vid={{ form.form_version_id }}" href="<%= admin_edit_form_path(@form.form_id) %>?vid=<%= @form.id %>">Edit</a>
            <a target="_self" class="button secondary small radius" href="<%= admin_form_versions_path(@form.form_id) %>">Done</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="form-version" ng-controller="FormVersionCtrl" ng-show="versionReady" class="ng-hide">
  <div class="row">
    <div class="large-6 columns">
      <div class="form-field preview-mode">
        <div class="field-preview">
          <h1>{{ form.name }}</h1>
        </div>
      </div>
      <div class="form-field preview-mode" ng-repeat="field in form.fields">
        <div class="field-preview" ng-include="'field-preview.html'"></div>
      </div>
    </div>
    <div class="large-6 columns">
      <h1>Debug Info</h1>
      <p><pre>{{ formBuilder | json }}</pre></p>
      <p>Dirty?: {{ formBuilder.$dirty }}</p>
      <p>Valid?: {{ formBuilder.$valid }}</p>
      <p>Can Save?: {{ canSave() }}</p>
      <p><pre>{{ selected | json }}</pre></p>
      <p><pre>{{ form | json }}</pre></p>
    </div>
  </div>

  <!-- Field Preview Templates -->

  <script type="text/ng-template" id="field-preview.html">
    <div class="{{ field.kind}}-field-preview" ng-include="field.kind + '-field-preview.html'"></div>
  </script>

  <script type="text/ng-template" id="info-field-preview.html">
    <div class="info-text" ng-bind-html="renderHtml(field.details.text)"></div>
  </script>

  <script type="text/ng-template" id="short-answer-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <input type="text" disabled>
  </script>

  <script type="text/ng-template" id="long-answer-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <label>{{ field.details.label }}</label>
    <textarea disabled></textarea>
  </script>

  <script type="text/ng-template" id="single-choice-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="radio" value="" disabled> <label>{{ choice.label }}</label></li>
    </ul>
  </script>

  <script type="text/ng-template" id="multiple-choice-field-preview.html">
    <div ng-if="field.details.question" class="question-text" ng-bind-html="renderHtml(field.details.question)"></div>
    <ul>
      <li ng-repeat="choice in field.details.choices"><input type="checkbox" value="" disabled> <label>{{ choice.label }}</label></li>
    </ul>
  </script>

</div>

<% provide :js do %>
<%= javascript_include_tag "form_version" %>
<script type="text/javascript">
  angular.module('FormVersionApp').run(function($rootScope) {
    $rootScope.form = <%= FormVersionSerializer.new(@form).to_json.html_safe %>.form_version;
    $rootScope.form_versions = <%= @form_versions.to_json.html_safe %>;
  });
</script>
<% end %>

