<% provide(:title, 'Form Versions') %>

<h1>Form Versions</h1>

<table id="form-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Slug</th>
      <th>Author</th>
      <th>Last Modified</th>
      <th>Published?</th>
      <th>Responses</th>
    </tr>
  </thead>
  <tbody>
    <% @form_versions.each do |form_version| %>
    <tr>
      <td><a href="<%= admin_form_version_path(form_version.form_id, form_version.id) %>"><%= form_version.name %></a></td>
      <td><%= form_version.project %></td>
      <td><%= form_version.slug %></td>
      <td><%= form_version.user.username %></td>
      <td><%= form_version.date %></td>
      <td><% if form_version.published? %><i class="fi-check"></i><% end %></td>
      <td><%= form_version.num_responses %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a class="button small secondary" href="<%= admin_forms_path %>">Done</a>

