<% provide(:title, 'Edit Post') %>

<h1>Edit Post</h1>

<%= form_for(@post) do |f| %>
<%= render 'shared/post_error_messages' %>

<table id="post_edit">
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :content %></td>
    <td><%= f.text_field :content %></td>
  </tr>
</table>

<p>
  <%= f.submit "Save changes", class: 'button' %>
  <%= link_to "Cancel", @post, class: 'button secondary' %>
</p>

<% end %>
