<% provide(:title, 'New Post') %>

<h1>New Post</h1>

<%= form_for :post, url: discussion_create_post_path  do |f| %>
<%= render 'shared/post_error_messages' %>

<table id="post_new">
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <td><%= f.label :content %></td>
    <td><%= f.text_field :content %></td>
  </tr>
</table>

<p>
  <%= f.hidden_field :topic_id, :value => @topic.id %>
  <%= f.submit "Post", class: 'button' %>
  <%= link_to "Cancel", @topic, class: 'button secondary' %>
</p>

<% end %>
